
body {
    background-color: #F2EEE9;
    color: #333;
    height: 100%;
}

.wrapper {
    width: 1100px;
    padding: 20px;
    margin: 20px auto 40px;
}

h1 {
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 4px 20px;
    float: left;
}

.clear {
    clear: both;
}

.items {
    display: inline-block;
    min-height: 100%;
    margin: 20px auto 40px;
}

.item {
    background-color: rgba(0, 0, 0, 0.24);
    float: left;
    margin: 0 10px 10px 0;
    width: 250px;
    padding: 10px;
    height: 300px;
}

.item img {
    display: block;
    margin: auto;
}

h2 {
    font-size: 16px;
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
}

span {
    float: right;
}

.cart_anchor {
    display: inline-block;
    background: url('http://cdn1.iconfinder.com/data/icons/jigsoar-icons/24/_cart.png') no-repeat 0 0;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
}